header{
  display: flex;
  flex-direction: row;
  background-color: #242424;
  height: 60px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}
 header h1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;

  padding: 10px;
  margin: 0%;
}
