header{
  display: flex;
  flex-direction: row;
  background-color: #242424;
  height: 60px !important;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 5px gainsboro;
}
 header h1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;

  padding: 10px;
  margin: 0%;
  margin-left: 10px;
}


@media screen and (max-width: 768px){
  header{
    height: 80px !important;
  }
  
}
