.Chat{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    flex-direction: column;
    height: 100%;
}
.Chat main{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;

    gap: 20px;


    background-color: rgb(255, 255, 255);
}

