.ChatIpt { 
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    display: flex;
    border: #242424 5px solid;

    gap:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;

}

.ChatIpt input {
    border:none;
    border-bottom:2px solid #242424;
    background: none;
    width:calc(100% - 80px);
}

.ChatIpt button {
    width: 50px;
    border:none;
    background: #242424;
    color:white;
    padding:10px
}


