.Previsão{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    flex-direction: column;
    height: 100%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Previsão header{
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid black;
    width: 100%;
}
.Previsão header h1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #242424;
    color: white;
    font-size: 30px;
    font-weight: bold;

    padding: 10px;
    margin: 0%;
}
.Previsão main{
    max-width: 500px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.Previsão .sectionSelect{
    border: 5px solid black;
    color: white;
    background-color: #242424;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap:20px;
    width: 80%;
    flex-direction: row;
}
.Previsão section label{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    background-color: #242424;
}
.Previsão section select{
    width: auto;
    height: 100%;
    border-radius: 0px;
    color: whitesmoke;
    border: 0px solid black;
    background: #242424;
    border-bottom: 2px solid white;
}
.Previsões{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    padding-bottom: 100px;
}
.Previsões .container{
    width: 80%;
    height: auto;
    background-color: gray;
    border-radius: 5px;
    border: 0px solid rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.Previsões .container h2{
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
}
.Previsões .container section{
    padding: 0;
    margin: 0%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px;
    padding: 10px;
    border: 5px solid rgba(0, 0, 0, 0.517);
    margin-top: 8px;
    border-radius: 5px;
    

}
.Previsões .container section h3{
    font-size: 20px;
    width: 30%;
    padding: 10px;
    font-weight: bold;
    margin: 0%;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;

    background-color: #242424;
    border-bottom:3px solid black ;

    color: white;
    align-items: center;
}
.Previsões .container section p{
    margin: 0%;
    padding-left: 9px;
    padding-right: 9px;
    border-bottom:3px solid black ;
    background-color: #242424;
    color: white;
    border-radius: 4px;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .data{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:0px;
    height: 100%;
    padding-bottom: 10px;
}
.blink{

    animation: blink 1s infinite;
    width: 10px;
    aspect-ratio: 1/1;
    background-color: black;
    border: 2px solid black;
    border-radius: 100%;

    align-self: flex-end;
    margin-bottom: 10px;
    margin-right: 10px;
}
@keyframes blink {
    0% {
    }
    50% {
        background: rgba(100, 100, 100, 0.8);

    }
    100% {

    }
}