.Previsão{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    flex-direction: column;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Previsão header{
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid black;
    width: 100%;
}
.Previsão header h1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #242424;
    color: white;
    font-size: 30px;
    font-weight: bold;

    padding: 10px;
    margin: 0%;
}
.Previsão main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.Previsão section{
    border: 5px solid black;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap:10px
}
.Previsão section label{
    font-size: 20px;
    font-weight: bold;
    display: flex;
}
.Previsão section select{
    width: auto;
    height: 100%;
    border-radius: 0px;
    border: 0px solid black;
    background: none;
    border-bottom: 2px solid black;
}
.Previsões{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}
.Previsões .container{
    width: 300px;
    height: 200px;
    background-color: gray;
    border-radius: 5px;
    border: 5px solid rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.Previsões .container h2{
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid black;
}
.Previsões .container section{
    padding: 0;
    margin: 0%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px;

}
.Previsões .container section h3{
    font-size: 20px;
    width: 50%;
    padding: 10px;
    font-weight: bold;
    margin: 0%;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: aliceblue;

    align-items: center;
}
.Previsões .container section p{
    margin: 0%;
    padding: 0;
    border-bottom:3px solid black ;
    border-radius: 2px;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .data{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    height: 100%;
}