.Rotas{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    flex-direction: column;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Rotas header{
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid black;
    width: 100%;
}
.Rotas header h1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #242424;
    color: white;
    font-size: 30px;
    font-weight: bold;

    padding: 10px;
    margin: 0%;
}
.Rotas main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

}
.Rotas section{
    border: 5px solid black;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap:10px
}
.Rotas section label{
    font-size: 20px;
    font-weight: bold;
    display: flex;
}
.Rotas section select{
    width: auto;
    height: 100%;
    border-radius: 0px;
    border: 0px solid black;
    background: none;
    border-bottom: 2px solid black;
}
.Rotas main .Ponto{
    width:  300px !important;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray   ;
    border: 5spx solid rgba(0, 0, 0, 0.089);
    border-radius: 5px;

    color: white;
    font-size: 20px;
    font-weight: bold;
}
.Rotas main .Pontos{
    margin-top: 50px;
    gap: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: auto;
    border-radius: 5px;
}