@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  margin: 0;
  padding: 0;
  
}
.app{
  width: 100%;
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
#root{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

